.accordeon {
  width: 100%;
  max-width: 970px;
  border: 1px solid $mcg-1;

  &--catalog {
    @media (max-width: $pre-desktop-width) {
      border: none;
    }

    fieldset {
      @include zero-edges;
      border: none;
    }
  }
}

.accordeon__item {
  &:not(:last-child) {
    border-bottom: 1px solid $mcg-1;
  }

  .accordeon__content {
    display: none;
  }

  &--opened {
    padding-bottom: 42px;

    @media (max-width: $pre-desktop-width) {
      padding-bottom: 44px;
    }

    @media (max-width: $pre-tablet-width) {
      padding-bottom: 19px;
    }

    .accordeon__button {
      padding-bottom: 4px;
      margin-bottom: 3px;

      @media (max-width: $pre-desktop-width) {
        padding-bottom: 13px;
        margin-bottom: 13px;
      }

      @media (max-width: $pre-tablet-width) {
        padding-bottom: 9px;
        margin-bottom: 9px;
      }

      &--material {
        @media (max-width: $pre-tablet-width) {
          padding-top: 18px;
        }
      }
    }

    .accordeon__button-svg {
      transform: translate(-50px, 50px) rotate(180deg);

      @media (max-width: $pre-tablet-width) {
        transform: translate(-25px, 25px) rotate(180deg);
      }
    }

    .accordeon__content {
      display: block;
      padding-left: 50px;

      @media (min-width: $desktop-width) {
        width: 555px;
      }

      @media (max-width: $pre-desktop-width) {
        width: 580px;
      }

      @media (max-width: $pre-tablet-width) {
        width: 230px;
        padding-left: 25px;
      }
    }
  }

  &--catalog {
    &:last-child {
      @media (max-width: $pre-desktop-width) {
        border-bottom: 1px solid $mcg-1;
      }
    }
  }

  &--disclosed {
    padding-bottom: 17px;

    @media (max-width: $pre-desktop-width) {
      padding-bottom: 31px;
    }

    @media (max-width: $pre-tablet-width) {
      padding-bottom: 20px;
    }

    .accordeon__button {
      padding-bottom: 11px;
      margin-bottom: 10px;

      &--price {
        @media (min-width: $desktop-width) {
          margin-bottom: 12px;
        }

        @media (max-width: $pre-desktop-width) {
          margin-bottom: 17px;
        }
      }
    }

    .accordeon__button-svg {
      &--catalog {
        transform: translate(-23px, 28px) rotate(180deg);

        @media (max-width: $pre-desktop-width) {
          transform: translate(-40px, 40px) rotate(180deg);
        }

        @media (max-width: $pre-tablet-width) {
          transform: translate(-20px, 31px) rotate(180deg);
        }
      }
    }

    .accordeon__content {
      display: block;
      padding-top: 3px;
      padding-right: 34px;
      padding-left: 34px;

      @media (max-width: $pre-desktop-width) {
        padding-left: 33px;
      }

      &--price {
        padding-right: 27px;
        padding-bottom: 3px;
        padding-left: 25px;

        @media (max-width: $pre-desktop-width) {
          padding-right: 89px;
          padding-bottom: 10px;
          padding-left: 26px;
        }

        @media (max-width: $pre-tablet-width) {
          padding-right: 10px;
          padding-left: 10px;
        }
      }
    }
  }
}

.accordeon__button {
  --icon-color: #{$dcg-2};

  font-family:
    "poppins",
    "Arial",
    sans-serif;
  font-size: 1.8rem;
  line-height: 130%;
  font-weight: 500;
  text-align: left;
  color: $dcg-2;

  @include zero-edges;
  position: relative;
  width: 100%;
  padding: 45px 100px 42px 42px;

  @media (max-width: $pre-desktop-width) {
    padding-left: 50px;
  }

  @media (max-width: $pre-tablet-width) {
    font-size: 1.6rem;
    line-height: 140%;

    padding-top: 20px;
    padding-bottom: 17px;
    padding-left: 25px;
  }

  &--material {
    @media (max-width: $pre-tablet-width) {
      padding-right: 80px;
    }
  }

  &--countries {
    @media (max-width: $pre-tablet-width) {
      padding-right: 120px;
    }
  }

  &--return {
    @media (max-width: $pre-tablet-width) {
      padding-right: 50px;
    }
  }

  &--catalog {
    font-size: 1.6rem;

    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 21px;
    padding-left: 25px;

    @media (max-width: $pre-desktop-width) {
      font-size: 1.8rem;

      padding-top: 36px;
      padding-bottom: 32px;
      padding-left: 21px;
    }

    @media (max-width: $pre-tablet-width) {
      padding-top: 25px;
      padding-bottom: 21px;
    }
  }

  &:hover,
  &:focus {
    --icon-color: #{$mcg-1};

    color: $mcg-1;
    background-color: $mcg-9;
  }

  &:active {
    opacity: 0.5;
  }
}

.accordeon__button-svg {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-50px, 50px);

  @media (max-width: $pre-desktop-width) {
    width: 23px;
    height: 12px;
  }

  @media (max-width: $pre-tablet-width) {
    width: 20px;
    height: 10px;
    transform: translate(-25px, 25px);
  }

  &--catalog {
    transform: translate(-23px, 28px);

    @media (max-width: $pre-desktop-width) {
      transform: translate(-40px, 40px);
    }

    @media (max-width: $pre-tablet-width) {
      transform: translate(-20px, 31px);
    }
  }
}

.accordeon__content {
  p {
    @include zero-edges;
  }

  &--price {
    width: 100%;
    padding-top: 26px;
    padding-left: 0;

    @media (max-width: $pre-desktop-width) {
      padding-top: 33px;
    }

    @media (max-width: $pre-tablet-width) {
      padding-top: 30px;
    }
  }
}
