.accordeon {
  width: 100%;
  max-width: 970px;
  border: 1px solid $mcg-1;
}

.accordeon__item {
  position: relative;
  padding-top: 44px;
  padding-bottom: 43px;
  padding-right: 98px;

  @media (min-width: $desktop-width) {
    padding-left: 42px;
  }

  @media (max-width: $pre-desktop-width) {
    padding-left: 50px;
  }

  @media (max-width: $pre-tablet-width) {
    padding-top: 16px;
    padding-bottom: 25px;
    padding-right: 58px;
    padding-left: 25px;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $mcg-1;
  }
}

.accordeon__button {
  --icon-color: #{$dcg-2};

  font-family:
    "poppins",
    "Arial",
    sans-serif;
  font-size: 1.8rem;
  line-height: 130%;
  font-weight: 500;
  text-align: left;
  color: $dcg-2;

  @include zero-edges;
  width: max-content;

  @media (max-width: $pre-tablet-width) {
    font-size: 1.6rem;
    line-height: 140%;
  }

  &--material {
    @media (max-width: $pre-tablet-width) {
      width: 182px;
    }
  }

  &--countries {
    @media (max-width: $pre-tablet-width) {
      width: 145px;
    }
  }

  &--payment {
    @media (max-width: $pre-tablet-width) {
      width: 160px;
    }
  }

  &--return {
    @media (max-width: $pre-tablet-width) {
      width: 210px;
    }
  }

  &--active {
    .accordeon__button-svg {
      transform: translate(-50px, 50px) rotate(180deg);

      @media (max-width: $pre-tablet-width) {
        transform: translate(-25px, 25px) rotate(180deg);
      }
    }

    & + .accordeon__content {
      display: block;
    }
  }

  &:hover,
  &:focus {
    --icon-color: #{$mcg-1};

    color: $mcg-1;
  }

  &:active {
    opacity: 0.5;
  }
}

.accordeon__button-svg {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-50px, 50px);

  @media (max-width: $pre-desktop-width) {
    width: 23px;
    height: 12px;
  }

  @media (max-width: $pre-tablet-width) {
    width: 20px;
    height: 10px;
    transform: translate(-25px, 25px);
  }
}

.accordeon__content {
  @media (min-width: $desktop-width) {
    width: 527px;
    padding-left: 8px;
    padding-top: 8px;
  }

  @media (max-width: $pre-desktop-width) {
    padding-top: 27px;
  }

  @media (max-width: $pre-tablet-width) {
    padding-top: 18px;
  }

  &--js {
    display: none;
  }

  p {
    @include zero-edges;
  }
}
