.article {
  font-family:
    "poppins",
    "Arial",
    sans-serif;
  font-size: 1.6rem;
  line-height: 130%;
  font-weight: 500;

  @include casual-flex;
  height: min-content;
  background-color: $mcg-4;
  position: relative;

  @media (max-width: $pre-desktop-width) {
    margin-bottom: 50px;
  }

  @media (max-width: $pre-tablet-width) {
    margin-bottom: 40px;
    padding-bottom: 30px;
  }

  &:last-child {
    @media (max-width: $pre-tablet-width) {
      padding-bottom: 46px;
    }
  }

  &--trends {
    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 52.2% 47.8%;
    }

    @media (max-width: $pre-tablet-width) {
      padding-bottom: 46px;
    }
  }
}

.article__image-box {
  width: 50%;

  @media (max-width: $pre-tablet-width) {
    width: 100%;
  }

  &--trends {
    @media (min-width: $desktop-width) {
      width: 100%;
      grid-column-start: 1;
      grid-column-end: -1;
      grid-row-start: 1;
      grid-row-end: -1;
    }
  }

  img {
    display: block;
    width: 100%;
    object-fit: cover;

    @media (max-width: $pre-desktop-width) {
      height: 300px;
    }

    @media (max-width: $pre-tablet-width) {
      height: 256px;
    }
  }
}

.article__presentation {
  @include column-flex;
  width: 50%;
  padding-top: 67px;
  background-color: inherit;

  @media (max-width: $pre-tablet-width) {
    width: 100%;
    padding-top: 44px;
  }

  &--power {
    order: -1;

    @media (max-width: $pre-tablet-width) {
      order: 1;
    }
  }

  &--trends {
    @media (min-width: $desktop-width) {
      width: 100%;
      height: 100%;
      grid-column-start: 2;
      grid-column-end: -1;
      grid-row-start: 2;
      grid-row-end: -1;
    }

    @media (max-width: $pre-desktop-width) {
      padding-top: 83px;
    }

    @media (max-width: $pre-tablet-width) {
      padding-top: 61px;
    }
  }
}

.article__datetime {
  font-size: 1.4rem;
  color: $lcg-5;

  margin-bottom: 13px;
}

.article__title-box {
  font-family:
    "cormorantgaramond",
    "Arial",
    sans-serif;
  font-size: 2.6rem;
  line-height: 130%;
  font-weight: 600;
  color: $dcg-1;

  margin-bottom: 38px;

  @media (min-width: $desktop-width) {
    width: 60%;
  }

  @media (max-width: $pre-desktop-width) {
    width: 50%;
  }

  &--care {
    @media (max-width: $pre-tablet-width) {
      width: 60%;
    }
  }

  p {
    @include zero-edges;
    text-align: center;
  }
}

.article__link {
  color: $dcg-2;

  @media (max-width: $pre-tablet-width) {
    margin-bottom: 25px;
  }
}
