.article-preview {
  font-family:
    "poppins",
    "Arial",
    sans-serif;
  font-size: 1.6rem;
  line-height: 130%;
  font-weight: 500;

  @include casual-flex;
  background-color: $mcg-4;
  position: relative;
  margin-right: $article-gap;
  margin-bottom: $article-gap;

  @media (max-width: $pre-desktop-width) {
    margin-right: 0;
    margin-bottom: 50px;
  }

  @media (max-width: $pre-tablet-width) {
    margin-bottom: 40px;
    padding-bottom: 30px;
  }

  &--last {
    @media (max-width: $pre-tablet-width) {
      padding-bottom: 46px;
    }
  }

  &--large {
    .article-preview__image-box {
      @media (min-width: $desktop-width) {
        @include width-cropping-box(100%);
      }
    }

    .article-preview__presentation {
      @media (min-width: $desktop-width) {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }

    .article-preview__datetime {
      @media (min-width: $desktop-width) {
        margin-bottom: 11px;
        letter-spacing: -0.01em;
      }
    }

    .article-preview__title-box {
      @media (min-width: $desktop-width) {
        width: calc(100% - #{$min-gap} * 2);
        margin-bottom: 38px;
      }
    }

    .article-preview__link {
      @media (min-width: $desktop-width) {
        margin-bottom: 111px;
      }
    }
  }
}

.article-preview__image-box {
  @media (min-width: $desktop-width) {
    @include width-cropping-box(50%);
  }

  @media (max-width: $pre-desktop-width) {
    @include height-cropping-box(50%);
    padding-bottom: $image-height-tablet;
  }

  @media (max-width: $pre-tablet-width) {
    @include height-cropping-box(100%);
    padding-bottom: $image-height-mobile;
  }

  img {
    @media (min-width: $desktop-width) {
      @include width-cropped-content;
    }

    @media (max-width: $pre-desktop-width) {
      @include height-cropped-content;
    }
  }
}

.article-preview__presentation {
  @include column-flex;
  width: 50%;
  padding-top: 67px;
  background-color: inherit;

  @media (max-width: $pre-tablet-width) {
    width: 100%;
    padding-top: 44px;
    padding-bottom: 0;
  }

  &--displaced {
    order: -1;

    @media (max-width: $pre-tablet-width) {
      order: 1;
    }
  }

  &--altered {
    @media (max-width: $pre-desktop-width) {
      padding-top: 83px;
    }

    @media (max-width: $pre-tablet-width) {
      padding-top: 61px;
    }
  }
}

.article-preview__datetime {
  font-size: 1.4rem;
  color: $lcg-5;
  margin-bottom: 13px;
}

.article-preview__title-box {
  font-family:
    "cormorantgaramond",
    "Arial",
    sans-serif;
  font-size: 2.6rem;
  line-height: 130%;
  font-weight: 600;
  color: $dcg-1;
  width: 60%;
  margin-bottom: 38px;

  @media (max-width: $pre-desktop-width) {
    width: 50%;
  }

  &--altered {
    @media (max-width: $pre-tablet-width) {
      width: 60%;
    }
  }

  h3 {
    @include zero-edges;
    font-size: inherit;
    line-height: inherit;
    text-align: center;
  }
}

.article-preview__link {
  margin-bottom: 76px;

  @media (max-width: $pre-tablet-width) {
    margin-bottom: 25px;
  }
}
