.blog {
  margin-bottom: 74px;

  @media (max-width: $pre-desktop-width) {
    margin-bottom: 3px;
  }

  @media (max-width: $pre-tablet-width) {
    margin-bottom: 4px;
  }

  h2 {
    @media (min-width: $desktop-width) {
      margin-top: 26px;
      margin-bottom: 32px;
    }
  }

  .article-preview {
    &:nth-child(2n+2) {
      margin-right: 0;
    }
  }
}

.blog__link {
  width: 70px;
  margin-bottom: 65px;

  @media (max-width: $pre-desktop-width) {
    margin-bottom: 66px;
  }

  @media (max-width: $pre-tablet-width) {
    margin-bottom: 57px;
  }
}

.blog__grid {
  @include casual-flex;
  width: 100%;

  @media (max-width: $pre-desktop-width) {
    flex-direction: column;
  }
}

.blog__row {
  display: flex;
  width: 100%;

  .article-preview {
    width: calc(50% - #{$article-gap} / 2);

    @media (max-width: $pre-desktop-width) {
      width: 100%;
    }
  }

  &--half {
    @media (min-width: $desktop-width) {
      width: calc(50% - #{$article-gap} / 2);

      .article-preview {
        width: 100%;

        &:nth-child(2n+1) {
          margin-right: 0;
        }
      }
    }
  }

  &--left {
    @media (min-width: $desktop-width) {
      margin-right: $article-gap;
    }
  }

  &--vertical {
    flex-direction: column;
  }

  &--expanded {
    @media (min-width: $desktop-width) {
      align-self: stretch;
    }
  }
}
