.catalog-page {
  h1 {
    @include visually-hidden;
  }
}

.catalog-page__container {
  @media (min-width: $desktop-width) {
   display: flex;
   align-items: flex-start;
  }

  @media (max-width: $pre-desktop-width) {
    flex-direction: column;
    align-items: center;
  }

  .filter {
    @media (min-width: $desktop-width) {
      flex-shrink: 0;
      width: 250px;
      width: calc(250 / 1170 * 100%);
      min-width: 210px;
      margin-right: 50px;
      margin-right: calc(50 / 1170 * 100%);
    }
  }

  .slider {
    &--catalog {
      @media (min-width: $desktop-width) {
        width: calc(100% - ((250 / 1170 * 100%) + (50 / 1170 * 100%)));
      }
    }
  }
}
