.catalog-page {
  h1 {
    @include visually-hidden;
  }
}

.catalog-page__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 250px calc(100% - 250px - 50px);
    grid-auto-rows: min-content;
    column-gap: 50px;
    align-items: start;
  }

  @media (max-width: $pre-desktop-width) {
    @include column-flex;
  }
}
