.filter {
  font-family:
    "poppins",
    "Arial",
    sans-serif;
  font-size: 1.4rem;
  line-height: 130%;
  font-weight: 500;

  @media (max-width: $pre-desktop-width) {
    width: 100%;
    margin-bottom: 50px;
  }

  @media (max-width: $pre-tablet-width) {
    margin-bottom: 40px;
  }

  h2,
  legend,
  input[type="checkbox"] {
    @include visually-hidden;
  }

  input {
    &:checked + .filter__label {
      &::before {
        background-color: $mcg-1;
      }
    }

    &:focus + .filter__label {
      border-color: inherit;
    }
  }

  &--js {
    .filter__cross {
      @media (max-width: $pre-desktop-width) {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
        z-index: 1;
      }

      @media (max-width: $pre-tablet-width) {
        transform: translate(30%, -45%);
      }
    }

    .filter__form-box {
      @media (max-width: $pre-desktop-width) {
        display: block;
        position: absolute;
        top: 27px;
        left: 0;
        z-index: 1;
      }

      @media (max-width: $pre-tablet-width) {
        top: 76px;
        left: 50%;
        transform: translate(-50%, 0);
        // width: 270px;
        width: 84.375%;
      }
    }
  }
}

.filter__starter {
  font-family:
    "poppins",
    "Arial",
    sans-serif;
  font-size: 1.6rem;
  line-height: 1;
  font-weight: 500;
  color: $lcg-1;
  background-color: $mcg-1;

  display: none;

  @media (max-width: $pre-desktop-width) {
    @include centering-flex;
    @include zero-edges;
    display: block;
    width: 100%;
    height: 68px;
    outline: 1px solid transparent;
    outline-offset: -1px;
  }

  &:hover,
  &:focus {
    color: $mcg-1;
    outline-color: currentColor;
    background-color: transparent;
  }

  &:active {
    opacity: 0.5;
  }
}

.filter__cross {
  --circle-color: #{$dcg-2};
  --icon-color: #{$lcg-1};

  @include zero-edges;
  display: none;

  &:hover,
  &:focus {
    --circle-color: #{$mcg-2};
  }

  &:active {
    --circle-color: #{$mcg-7};
  }
}

.filter__form-box {
  @media (max-width: $pre-desktop-width) {
    display: none;
    width: 423px;
    padding-bottom: 40px;
    background-color: $lcg-1;
    box-shadow: 0 5px 32px $dcg-3;
  }
}

.filter__accordeon {
  margin-bottom: 35px;

  @media (max-width: $pre-desktop-width) {
    margin-bottom: 40px;
  }

  @media (max-width: $pre-tablet-width) {
    margin-bottom: 30px;
  }
}

.filter__fieldset {
  &--price {
    width: 100%;
  }
}

.filter__label {
  position: relative;
  padding-left: 25px;
  border-bottom: 1px dashed transparent;
  cursor: pointer;

  @media (max-width: $pre-desktop-width) {
    font-size: 1.6rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;

    width: 15px;
    height: 15px;
    border: 1px solid $mcg-1;
    background-color: transparent;

    @media (max-width: $pre-desktop-width) {
      left: -2px;
      width: 18px;
      height: 18px;
    }
  }

  @include casual-interactive-style;
}

.filter__list {
  margin-bottom: 6px;
}

.filter__list-item {
  &:not(:last-child) {
    margin-bottom: 13px;

    @media (max-width: $pre-desktop-width) {
      margin-bottom: 19px;
    }
  }
}

.filter__controls-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 29px;

  @media (max-width: $pre-desktop-width) {
    padding-left: 10px;
  }

  @media (max-width: $pre-tablet-width) {
    padding-left: 0;
  }
}

.filter__bar-shell {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: $lcg-6;
}

.filter__bar-fill {
  position: absolute;
  top: 0;
  left: 26%;
  width: 53%;
  height: 100%;
  background-color: $mcg-1;

  @media (max-width: $pre-desktop-width) {
    width: 58.5%;
    left: 17%;
  }

  @media (max-width: $pre-tablet-width) {
    width: 56%;
    left: 19%;
  }
}

.filter__bar-handle {
  position: absolute;
  top: 50%;

  width: 15px;
  height: 15px;
  background-color: $mcg-1;
  border-radius: 50%;
  cursor: pointer;

  @media (max-width: $pre-desktop-width) {
    width: 18px;
    height: 18px;
  }

  &--lower-level {
    left: 0;
    transform: translate(-50%, -50%);
  }

  &--upper-level {
    right: 0;
    transform: translate(50%, -50%);
  }
}

.filter__bar-handle-value {
  position: absolute;
  top: 22px;
  left: -10px;
  width: max-content;
  max-width: max-content;
  height: min-content;
  pointer-events: none;

  @media (max-width: $pre-desktop-width) {
    top: 27px;
    left: -8px;
  }

  &--lower {
    left: -8px;

    @media (max-width: $pre-desktop-width) {
      left: -6px;
    }
  }
}

.filter__button {
  font-family:
    "poppins",
    "Arial",
    sans-serif;
  font-size: 1.6rem;
  line-height: 130%;
  font-weight: 500;

  @include centering-flex;
  width: 100%;
  height: 68px;
  outline-offset: -1px;

  @media (max-width: $pre-desktop-width) {
    @include centering-margin;
    width: 362px;
    transform: translate(-10px, 0);
  }

  @media (max-width: $pre-tablet-width) {
    width: 230px;
    transform: translate(0, 0);
  }

  &:active {
    opacity: 0.5;
  }
}

.filter__apply {
  color: $lcg-1;
  outline: 1px solid transparent;
  background-color: $mcg-1;
  margin-bottom: 25px;

  @media (max-width: $pre-tablet-width) {
    margin-bottom: 20px;
  }

  &:hover,
  &:focus {
    color: $mcg-1;
    outline-color: currentColor;
    background-color: transparent;
  }
}

.filter__clear {
  color: $mcg-1;
  outline: 1px solid currentColor;
  background-color: transparent;

  &:hover,
  &:focus {
    color: $lcg-1;
    background-color: $mcg-1;
  }
}
