.footer {
  font-family:
    "poppins",
    "Arial",
    sans-serif;
  font-size: 1.6rem;
  line-height: 130%;
  font-weight: 500;
  color: $lcg-1;
  background-color: $dcg-1;

  .container {
    @include casual-flex;

    @media (min-width: $desktop-width) {
      padding-top: 96px;
      padding-bottom: 59px;
    }

    @media (max-width: $pre-desktop-width) {
      padding-top: 50px;
      padding-bottom: 21px;
    }

    @media (max-width: $pre-tablet-width) {
      padding-bottom: 0;
    }
  }

  p {
    @include zero-edges;
  }

  ul {
    margin-bottom: 35px;

    @media (max-width: $pre-tablet-width) {
      width: 100%;
      margin-bottom: 45px;
    }

    &:last-of-type {
      @media (max-width: $pre-tablet-width) {
        margin-bottom: 34px;
      }
    }
  }

  li {
    &:not(:last-child) {
      @media (min-width: $desktop-width) {
        margin-bottom: 21px;
      }

      @media (max-width: $pre-desktop-width) {
        margin-bottom: 20px;
      }
    }
  }

  a {
    @include casual-interactive-style;
  }

  .footer__social-link {
    &:hover,
    &:focus {
      @media (max-width: $pre-tablet-width) {
        border-bottom-color: transparent;
      }
    }
  }
}

.footer__subscription {
  @media (min-width: $desktop-width) {
    padding-right: 10px;
    margin-right: auto;
    width: 30%;
  }

  @media (min-width: $aux-viewport-footer) {
    width: 43.7%;
  }

  @media (max-width: $pre-desktop-width) {
    width: 100%;
    margin-bottom: 48px;
  }
}

.footer__leading-paragraph-box {
  font-family:
    "cormorantgaramond",
    "Arial",
    sans-serif;
  font-size: 3.4rem;
  line-height: 130%;
  font-weight: 700;
  letter-spacing: 0.025em;

  @media (min-width: $desktop-width) {
    margin-bottom: 4px;
    transform: translate(0, -6px);
  }

  @media (max-width: $pre-desktop-width) {
    margin-bottom: 9px;
  }

  @media (max-width: $pre-tablet-width) {
    width: 80%;
    margin-bottom: 15px;
  }
}

.footer__auxiliary-paragraph-box {
  margin-bottom: 30px;

  @media (max-width: $pre-tablet-width) {
    width: 80%;
    margin-bottom: 29px;
  }
}

.footer__form-box {
  position: relative;

  @media (max-width: $pre-desktop-width) {
    width: 84%;
    max-width: 560px;
  }

  @media (max-width: $pre-tablet-width) {
    width: 100%;
    max-width: 290px;
  }

  input {
    @include input-style;
    color: $lcg-1;

    padding: 14px 0 6px;
    border-bottom: 1px solid $lcg-1;

    &:hover,
    &:focus {
      border-bottom-style: dashed;
    }

    &::placeholder {
      font-size: inherit;
      line-height: inherit;
    }
  }
}

.footer__submit {
  --icon-color: #{$lcg-1};

  @include inherit-text-style;
  @include zero-edges;
  position: absolute;
  top: 56%;
  right: 0;
  transform: translate(0, -50%);
  background-color: transparent;

  span {
    @include inherit-text-style;
    margin-right: 12px;
  }

  &:hover,
  &:focus {
    --icon-color: #{$mcg-2};

    color: $mcg-2;
  }

  &:active {
    opacity: 0.5;
  }
}

.footer__buyers-information {
  @include column-flex-left;
  padding-right: 10px;

  @media (min-width: $desktop-width) {
    margin-right: 5%;
  }

  @media (max-width: $pre-desktop-width) {
    margin-right: 11.2%;
  }

  @media (max-width: $pre-tablet-width) {
    padding-right: 0;
  }
}

.footer__general-information {
  @media (min-width: $desktop-width) {
    margin-right: auto;
  }

  @media (min-width: $aux-viewport-footer) {
    margin-right: 8%;
  }

  @media (max-width: $pre-desktop-width) {
    margin-right: 17.1%;
  }
}

.footer__social-networks {
  --icon-color: #{$lcg-1};

  @include column-flex-left;

  @media (max-width: $pre-tablet-width) {
    flex-direction: row;
  }

  li {
    position: relative;

    @media (min-width: $desktop-width) {
      padding-left: 45px;
    }

    &:not(:last-child) {
      @media (max-width: $pre-tablet-width) {
        margin-right: 30px;
      }
    }
  }
}

.footer__social-link {
  &:hover,
  &:focus {
    .footer__social-svg {
      transform: translate(-30px, -50%) scale(1.2);

      &--facebook {
        transform: translate(-26px, -65%) scale(1.2);
      }

      @media (max-width: $pre-tablet-width) {
        transform: translate(0, 0) scale(1.2);
      }

      &--twitter {
        @media (max-width: $pre-tablet-width) {
          transform: translate(0, 4px) scale(1.2);
        }
      }
    }
  }

  &:active {
    opacity: 0.5;
  }
}

.footer__social-svg {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-30px, -50%);

  @media (min-width: $desktop-width) {
    margin-right: 15px;
  }

  @media (max-width: $pre-tablet-width) {
    position: static;
    transform: translate(0, 0);
  }

  &--facebook {
    transform: translate(-26px, -65%);

    @media (max-width: $pre-tablet-width) {
      width: 12px;
      height: 21px;
      transform: translate(0, 0);
    }
  }

  &--instagram,
  &--pinterest {
    @media (max-width: $pre-tablet-width) {
      width: 20px;
      height: 21px;
    }
  }

  &--twitter {
    @media (max-width: $pre-tablet-width) {
      width: 20px;
      height: 18px;
      transform: translate(0, 4px);
    }
  }
}
