.header {
  font-family:
    "poppins",
    "Arial",
    sans-serif;
  font-size: 1.4rem;
  line-height: 150%;
  font-weight: 500;
  color: inherit;

  @media (min-width: $desktop-width) {
    background-color: $lcg-1;
  }

  @media (max-width: $pre-desktop-width) {
    color: $lcg-1;
    background-color: $mcg-1;
  }

  &--js {
    @media (max-width: $pre-desktop-width) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: $lcg-1;
      z-index: 1;
    }

    .header__container {
      &--lower {
        justify-content: center;

        @media (max-width: $pre-desktop-width) {
          display: none;
        }
      }
    }

    .header__logo {
      @media (max-width: $pre-desktop-width) {
        --icon-color: #{$mcg-1};
      }

      &--catalog {
        @include logo-catalog-interactive-style;
      }
    }

    .header__burger,
    .header__cart {
      @media (max-width: $pre-desktop-width) {
        --icon-color: #{$dcg-2};
      }
    }

    .header__burger {
      display: block;
    }
  }

  &--js.menu-open {
    @media (max-width: $pre-desktop-width) {
      height: 100vh;
      background-color: $mcg-1;
      z-index: 1;
    }

    .header__container {
      &--lower {
        @media (max-width: $pre-desktop-width) {
          display: block;
          height: 85%;
          overflow-y: auto;

          position: absolute;
          top: 126px;
          left: 50%;
          transform: translateX(-50%);
        }

        @media (max-width: $pre-tablet-width) {
          top: 91px;
        }
      }
    }

    .header__burger,
    .header__logo,
    .header__cart {
      @media (max-width: $pre-desktop-width) {
        --icon-color: #{$lcg-1};
      }
    }

    .header__logo {
      &--catalog {
        @include logo-catalog-interactive-style;
      }
    }
  }

  a {
    @include casual-interactive-style;
  }

  .header__logo {
    &--different {
      &:active {
        opacity: 1;
      }
    }
  }

  .header__cart {
    @media (max-width: $pre-desktop-width) {
      border: none;
    }
  }
}

.header__container {
  &--upper {
    @include casual-flex;
    justify-content: flex-end;

    padding-top: 30px;

    @media (min-width: $desktop-width) {
      margin-bottom: 20px;
      padding-bottom: 40px;
    }

    @media (max-width: $pre-desktop-width) {
      margin-bottom: 23px;
      padding-bottom: 43px;
    }

    @media (max-width: $pre-tablet-width) {
      padding-top: 20px;
      padding-bottom: 29px;
      margin-bottom: 14px;
    }

    & > *:not(.header__logo):not(.header__form-box) {
      @media (min-width: $desktop-width) {
        transform: translate(0, 13px);
      }
    }
  }

  &--lower {
    @media (min-width: $desktop-width) {
      width: 100%;
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
      border-top: 1px solid $lcg-2;
    }

    @media (max-width: $pre-desktop-width) {
      padding-top: 7px;
    }
  }
}

.header__form-box {
  position: relative;

  @media (min-width: $desktop-width) {
    width: 145px;
    margin-left: 29px;
    margin-right: auto;
    transform: translate(0, 10px);
  }

  @media (max-width: $pre-desktop-width) {
    margin-bottom: 47px;
  }

  @media (max-width: $pre-tablet-width) {
    @include centering-margin;
    width: 99.5%;
    margin-bottom: 37px;
  }

  input {
    @include input-style;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;

    @media (min-width: $desktop-width) {
      border-width: 1px;
      border-style: dashed;
    }

    @media (max-width: $pre-desktop-width) {
      font-size: 1.6rem;
      color: $lcg-1;
      height: 40px;
      padding-left: 30px;
      padding-right: 30px;
      background-color: $lcg-3;;
      border-radius: 21px;
    }

    &:hover,
    &:focus {
      @media (min-width: $desktop-width) {
        border-bottom-color: $dcg-1;
      }

      @media (max-width: $pre-desktop-width) {
        box-shadow: 0 0 2px $lcg-1;
      }
    }

    &::placeholder {
      font-size: inherit;
      line-height: inherit;
    }
  }
}

.header__form-submit {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-36px, -50%);

  @include button-common-style;

  @media (min-width: $desktop-width) {
    --icon-color: #{$dcg-1};
  }

  @media (max-width: $pre-desktop-width) {
    --icon-color: #{$lcg-1};

    transform: translate(5px, -50%) scale(1.15);
  }

  &:hover,
  &:focus {
    --icon-color: #{$mcg-1};

    svg {
      transform: scale(1.1);
    }
  }

  &:active {
    opacity: 0.5;
  }
}

.header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 30px);

  @media (min-width: $desktop-width) {
    --icon-color: #{$mcg-1};
  }

  @media (max-width: $pre-desktop-width) {
    --icon-color: #{$lcg-1};
  }

  @media (max-width: $pre-tablet-width) {
    transform: translate(-50%, 20px);
  }

  &--different {
    &:hover,
    &:focus,
    &:active {
      border: none;
      outline: none;
      text-decoration: none;
      opacity: 1;
    }
  }

  &--catalog {
    @include logo-catalog-interactive-style;
  }

  svg {
    @media (max-width: $pre-tablet-width) {
      width: 52px;
      height: 52px;
    }
  }
}

.header__login {
  @media (min-width: $desktop-width) {
    margin-right: 3.1%;
  }

  @media (max-width: $pre-desktop-width) {
    font-size: 1.8rem;
    line-height: 130%;

    width: max-content;
    margin-bottom: 74px;
  }

  @media (max-width: $pre-tablet-width) {
    margin-bottom: 42px;
  }
}

.header__cart {
  @media (min-width: $desktop-width) {
    margin-right: 2px;
  }

  @media (max-width: $pre-desktop-width) {
    --icon-color: #{$lcg-1};

    height: 18px;
    transform: translate(1px, 24px);
  }

  @media (max-width: $pre-tablet-width) {
    transform: translate(1px, 17px);
  }

  @include svg-interactive-style;
}

.header__navigation {
  @media (min-width: $desktop-width) {
    @include centering-margin;
    width: 493px;
    padding-top: 18px;
    padding-bottom: 8px;
    transform: translate(5px, 0);
  }

  &--catalog {
    @media (min-width: $desktop-width) {
      padding-bottom: 5px;
    }
  }

  ul {
    @include casual-flex;

    @media (min-width: $desktop-width) {
      width: 100%;
    }

    @media (max-width: $pre-desktop-width) {
      margin-bottom: 40px;
    }

    @media (max-width: $pre-tablet-width) {
      margin-bottom: 30px;
    }

    @media (max-width: $pre-desktop-width) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  li {
    @media (min-width: $desktop-width) {
      margin-bottom: 10px;
    }

    &:not(:last-child) {
      @media (min-width: $desktop-width) {
        margin-right: 7.0994%;
      }

      @media (max-width: $pre-desktop-width) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }

  a {
    font-size: 1.6rem;
    line-height: 150%;

    @media (max-width: $pre-desktop-width) {
      font-size: 2.4rem;
    }
  }
}

.header__burger {
  display: none;

  @include button-common-style;

  @media (max-width: $pre-desktop-width) {
    --icon-color: #{$lcg-1};

    margin-right: auto;
    padding: 2px;
    transform: translate(-4px, 20px);
  }

  @media (max-width: $pre-tablet-width) {
    transform: translate(-4px, 13px);
  }

  @include svg-interactive-style;
}

.header__general-information {
  @media (max-width: $pre-desktop-width) {
    font-size: 1.8rem;
    line-height: 130%;
    color: $lcg-4;

    margin-bottom: 40px;
  }

  @media (max-width: $pre-tablet-width) {
    margin-bottom: 32px;
  }

  li {
    &:not(:last-child) {
      @media (max-width: $pre-desktop-width) {
        margin-bottom: 20px;
      }
    }
  }
}
