.main-page {
  line-height: 130%;
  color: $dcg-2;

  h1 {
    @include visually-hidden;
  }

  h2 {
    font-family:
      "cormorantgaramond",
      "Arial",
      sans-serif;
    font-size: 3.4rem;
    font-weight: 700;
    letter-spacing: 0.025em;

    margin-bottom: 35px;

    @media (max-width: $pre-desktop-width) {
      margin-bottom: 30px;
    }
  }
}

.main-page__section {
  .container {
    @include column-flex;
  }
}

.main-page__link {
  font-family:
    "poppins",
    "Arial",
    sans-serif;
  font-size: 1.6rem;
  font-weight: 500;

  position: relative;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 5px);

    width: 100%;
    height: 1px;
    background-color: $mcg-1;
    transition: width 0.3s ease;
  }

  &--altered {
    &::before {
      @media (min-width: $desktop-width) {
        transform: translate(-50%, 0);
      }
    }
  }

  &:hover,
  &:focus {
    &::before {
      width: 120%;
    }
  }

  &:active {
    opacity: 0.5;
  }
}
