.new-goods {
  @media (min-width: $desktop-width) {
    margin-bottom: 101px;
  }

  @media (max-width: $pre-desktop-width) {
    margin-bottom: 49px;
  }

  @media (max-width: $pre-tablet-width) {
    margin-bottom: 40px;
  }

  h2 {
    letter-spacing: normal;

    @media (min-width: $desktop-width) {
      margin-bottom: 37px;
    }
  }
}

.new-goods__link {
  width: 95px;
  margin-bottom: 60px;

  @media (max-width: $pre-desktop-width) {
    margin-bottom: 57px;
  }

  @media (max-width: $pre-tablet-width) {
    margin-bottom: 46px;
  }
}

.new-goods__slider {
  width: 100%;
}
