.new-goods {
  @media (min-width: $desktop-width) {
    margin-bottom: 97px;
  }

  @media (max-width: $pre-desktop-width) {
    margin-bottom: 49px;
  }

  @media (max-width: $pre-tablet-width) {
    margin-bottom: 40px;
  }
}

.new-goods__link {
  margin-bottom: 60px;

  @media (max-width: $pre-desktop-width) {
    margin-bottom: 56px;
  }

  @media (max-width: $pre-tablet-width) {
    margin-bottom: 46px;
  }
}

.new-goods__slider {
  width: 100%;
}
