.page-navigation {
  ul {
    display: flex;
  }

  li {
    &:not(:last-child) {
      margin-right: 2%;
      padding-right: 10px;
    }
  }

  .link {
    opacity: 0.7;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &:active {
      opacity: 1;
    }
  }
}
