.slider {
  font-family:
    "poppins",
    "Arial",
    sans-serif;
  font-size: 1.6rem;
  line-height: 130%;
  font-weight: 500;
  color: $dcg-2;

  @include column-flex;
  width: 100%;
  position: relative;

  figure {
    @include zero-edges;
    @include column-flex;
    width: 100%;
  }

  img {
    @include non-cropped-content;
  }

  &--catalog {
    margin-bottom: 76px;

    @media (max-width: $pre-desktop-width) {
      margin-bottom: 74px;
    }

    @media (max-width: $pre-tablet-width) {
      margin-bottom: 64px;
    }
  }
}

.slider__inner {
  width: 100%;
  overflow: hidden;

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }

  @media (max-width: $pre-desktop-width) {
    margin-bottom: 41px;
  }

  @media (max-width: $pre-tablet-width) {
    margin-bottom: 32px;
  }

  &--catalog {
    margin-bottom: 36px;

    @media (max-width: $pre-tablet-width) {
      margin-bottom: 17px;
    }
  }
}

.slider__list {
  display: flex;
  transition-property: transform;
  transition-duration: $duration;
  transition-timing-function: $timing-function;

  &--catalog {
    @include casual-flex;
  }
}

.slider__item {
  flex-shrink: 0;

  &--main {
    @media (min-width: $desktop-width) {
      width: 23.0769%;
      margin-right: 2.5641%;
    }

    @media (max-width: $pre-desktop-width) {
      width: 47.7876%;
      margin-right: calc(30 / 678 * 100%);
    }

    @media (max-width: $pre-tablet-width) {
      width: 44.8276%;
      margin-right: calc(30 / 290 * 100%);
    }

    &:nth-child(4n+4) {
      @media (min-width: $desktop-width) {
        margin-right: 0;
      }
    }

    &:nth-child(2n+2) {
      @media (max-width: $pre-desktop-width) {
        margin-right: 0;
      }
    }
  }

  &--catalog {
    width: calc((100% - ((30 / 870 * 100%) * 2)) / 3);
    margin-bottom: 35px;

    @media (max-width: $pre-desktop-width) {
      width: calc((100% - ((30 / 678 * 100%) * 2)) / 3);
      margin-bottom: 34px;
    }

    @media (max-width: $pre-tablet-width) {
      width: calc((100% - (30 / 290 * 100%)) / 2);
      margin-bottom: 25px;
    }

    &:not(:nth-child(3n+3)) {
      @media (min-width: $tablet-width) {
        margin-right: calc(30 / 678 * 100%);
      }

      @media (min-width: $desktop-width) {
        margin-right: calc(30 / 870 * 100%);
      }
    }
    // }

    &:not(:nth-child(2n+2)) {
      @media (max-width: $pre-tablet-width) {
        margin-right: calc(30 / 290 * 100%);
      }
    }
  }
}

.slider__padded-box {
  @include non-cropping-box;
  padding-bottom: $ratio-slider-desktop;
  margin-bottom: 23px;

  @media (max-width: $pre-desktop-width) {
    padding-bottom: $ratio-slider-tablet;
    margin-bottom: 23px;
  }

  @media (max-width: $pre-tablet-width) {
    padding-bottom: $ratio-slider-mobile;
    margin-bottom: 17px;
  }

  &--catalog {
    @media (min-width: $desktop-width) {
      margin-bottom: 10px;
    }

    @media (max-width: $pre-desktop-width) {
      margin-bottom: 15px;
    }

    @media (max-width: $pre-tablet-width) {
      margin-bottom: 18px;
    }
  }
}

.slider__figcaption {
  @include column-flex;
}

.slider__product-name {
  text-align: center;
  margin-bottom: 5px;

  &--shifted {
    @media (max-width: $pre-desktop-width) {
      transform: translate(8px, 0);
    }

    @media (max-width: $pre-tablet-width) {
      transform: translate(0, 0);
    }
  }

  &--altered {
    @media (min-width: $desktop-width) {
      transform: translate(5px, 0);
    }
  }
}

.slider__product-cost {
  font-size: 1.4rem;
  font-weight: 700;

  &--altered {
    @media (min-width: $desktop-width) {
      transform: translate(5px, 0);
    }
  }
}

.slider__arrow {
  @include zero-edges;
  @include centering-flex;

  position: absolute;
  top: 0;
  touch-action: manipulation;
  color: $mcg-1;

  &--previous {
    left: 0;
    transform: translate(0, -113px) rotate(180deg);

    @media (max-width: $pre-desktop-width) {
      transform: translate(0, -108px) rotate(180deg);
    }
  }

  &--next {
    right: 0;
    transform: translate(0, -113px);

    @media (max-width: $pre-desktop-width) {
      transform: translate(0, -108px);
    }
  }

  &--catalog {
    font-size: 1.6rem;
    line-height: 130%;
    font-weight: 500;
    color: $dcg-2;

    top: 100%;
    transform: translate(0, -95%);
  }

  &--backward {
    left: 0;
  }

  &--forward {
    right: 0;
  }

  .icon-arrow {
    font-size: 29px;

    @media (max-width: $pre-desktop-width) {
      font-size: 36px;
    }
  }

  &:hover,
  &:focus {
    color: $dcg-1;

    .icon-arrow {
      transform: scale(1.1);
    }
  }

  &--catalog {
    &:hover,
    &:focus {
      color: $mcg-1;
    }
  }

  &:active {
    opacity: 0.5;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.slider__frame-button-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    transform: translate(5px, 0);
  }

  @media (max-width: $pre-desktop-width) {
    transform: translate(-2px, 0);
  }

  &--catalog {
    @media (min-width: $desktop-width) {
      transform: translate(-2px, 0);
    }
  }
}

.slider__frame-button-item {
  &:not(:last-child) {
    margin-right: 12px;

    @media (max-width: $pre-desktop-width) {
      margin-right: 14px;
    }
  }

  &--catalog {
    &:not(:last-child) {
      margin-right: 13px;

      @media (max-width: $pre-desktop-width) {
        margin-right: 14px;
      }

      @media (max-width: $pre-tablet-width) {
        margin-right: 23px;
      }
    }
  }
}

.slider__frame-button {
  font-size: 1.6rem;
  line-height: 130%;
  font-weight: 500;
  color: $lcg-5;

  padding: 0;

  &:focus,
  &:hover {
    color: $mcg-1;
    transform: scale(1.1);
  }
}

.slider__frame-button.active {
  color: $dcg-2;
  font-weight: 700;

  &:focus,
  &:hover {
    color: $mcg-1;
  }
}

.slider__current-set-number {
  @media (max-width: $pre-tablet-width) {
    position: relative;
    left: -6px;
  }
}

.slider__slideset-quantity {
  @media (max-width: $pre-tablet-width) {
    position: relative;
    left: 5px;
  }
}
