.subscription {
  h2 {
    margin-bottom: 42px;

    @media (max-width: $pre-desktop-width) {
      margin-bottom: 30px;
    }
  }
}

.subscription__at {
  font-size: 4.2rem;
}

.subscription__link {
  width: 80px;
  margin-bottom: 66px;

  @media (max-width: $pre-desktop-width) {
    margin-bottom: 66px;
  }

  @media (max-width: $pre-tablet-width) {
    margin-bottom: 52px;
  }
}

.subscription__grid {
  @include casual-flex;
  width: 100%;
  margin-bottom: 96px;

  @media (max-width: $pre-desktop-width) {
    margin-bottom: 60px;
  }

  @media (max-width: $pre-tablet-width) {
    margin-bottom: 44px;
  }
}

.subscription__grid-block {
  @include column-flex;
  width: $initial-columns-width;
  margin-right: $subs-row-gap-desktop;
  margin-bottom: $subs-column-gap-desktop;

  @media (max-width: $pre-desktop-width) {
    margin-right: $subs-row-gap-tablet;
    margin-bottom: $subs-column-gap-tablet;
  }

  @media (max-width: $pre-tablet-width) {
    margin-right: $subs-row-gap-mobile;
    margin-bottom: $subs-column-gap-mobile;
  }

  &:nth-child(4n+4) {
    @media (min-width: $tablet-width) {
      margin-right: 0;
    }
  }

  &:nth-child(2n+2) {
    @media (max-width: $pre-tablet-width) {
      margin-right: 0;
    }
  }

  &--narrow {
    width: $equal-columns-width;

    @media (max-width: $pre-desktop-width) {
      width: $identical-columns-width;
    }

    @media (max-width: $pre-tablet-width) {
      width: $peer-columns-width;
    }
  }

  &--wide {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-self: stretch;
    width: $wide-image-width;

    @media (max-width: $pre-desktop-width) {
      width: $large-image-width;
    }

    @media (max-width: $pre-tablet-width) {
      width: $peer-columns-width;
    }
  }
}

.subscription__image-box {
  @include non-cropping-box;
  margin-bottom: $subs-column-gap-desktop;

  @media (max-width: $pre-desktop-width) {
    margin-bottom: $subs-column-gap-tablet;
  }

  @media (max-width: $pre-tablet-width) {
    margin-bottom: $subs-column-gap-mobile;
  }

  img {
    @include non-cropped-content;
  }

  &--wide {
    @include width-cropping-box;

    img {
      @include width-cropped-content;

      @media (max-width: $pre-tablet-width) {
        width: 100%;
      }
    }
  }

  &--last {
    margin-bottom: 0;
  }

  &--square {
    padding-bottom: $subs-ratio-square;
  }

  &--rect {
    padding-bottom: $subs-ratio-rect-big;

    @media (max-width: $pre-desktop-width) {
      padding-bottom: $subs-ratio-rect-small;
    }
  }
}
