.subscription {
  h2 {
    margin-bottom: 41px;

    @media (max-width: $pre-desktop-width) {
      margin-bottom: 30px;
    }
  }
}

.subscription__at {
  font-size: 4.2rem;
}

.subscription__link {
  width: 80px;
  margin-bottom: 66px;

  @media (max-width: $pre-desktop-width) {
    margin-bottom: 66px;
  }

  @media (max-width: $pre-tablet-width) {
    margin-bottom: 52px;
  }
}

.subscription__content-list {
  display: grid;
  grid-template-columns: 19.6581% 34.1026% 19.6581% 19.6581%;
  grid-template-rows: 230px 150px;
  column-gap: 2.308%;
  row-gap: 34px;

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-bottom: 130px;
  }

  @media (max-width: $pre-desktop-width) {
    grid-template-columns: 133px 231px 133px 133px;
    grid-template-rows: 133px 87px;
    column-gap: 16px;
    row-gap: 20px;

    width: min-content;
    margin-bottom: 80px;
  }

  @media (max-width: $pre-tablet-width) {
    grid-template-columns: repeat(2, 133px);
    grid-template-rows: 133px 87px 87px;
    column-gap: 24px;
    row-gap: 27px;

    margin-bottom: 71px;
  }
}

.subscription__content-item {
  &--1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  &--2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    img {
      @media (max-width: $pre-desktop-width) {
        height: 240px;
      }

      @media (max-width: $pre-tablet-width) {
        height: 247px;
      }
    }
  }

  &--3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  &--4 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  &--5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  &--6 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

    @media (max-width: $pre-tablet-width) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
    }
  }

  &--7 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;

    @media (max-width: $pre-tablet-width) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
    }
  }

  &--first-size {
    img {
      @media (max-width: $pre-desktop-width) {
        height: 133px;
      }
    }
  }

  &--second-size {
    img {
      @media (max-width: $pre-desktop-width) {
        height: 87px;
      }
    }
  }

  img {
    @include img;
  }
}
