@mixin link-base-style {
  display: block;
  position: relative;
  text-decoration: none;
  color: inherit;
}

@mixin background-properties {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

@mixin zero-edges {
  margin: 0;
  padding: 0;
}

@mixin centering-margin {
  margin-right: auto;
  margin-left: auto;
}

@mixin centering-padding($contentwidth: 100%) {
  padding: calc((100% - #{$contentwidth}) / 2);
}

@mixin centering-absolutely {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin casual-flex {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

@mixin column-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin column-flex-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@mixin centering-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin non-cropping-box($width: 100%) { // height depends on width
  position: relative;                   // padding-bottom: calc(#{$image-height} / #{$image-width} * 100%)
  width: $width;                        // content is not cropped
  height: 0;
  overflow: hidden;
}

@mixin non-cropped-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

@mixin height-cropping-box($width: 100%) { // height depends on width
  position: relative;                      // content is cropped to height
  width: $width;
  height: 0;
  overflow: hidden;
}

@mixin height-cropped-content {
  @include centering-absolutely;
  width: 100%;
  height: auto;
}

@mixin width-cropping-box($width: 100%) { // width depends on height
  align-self: stretch;                    // content is cropped to width
  position: relative;                     // this version for usage in flex-box
  width: $width;
  height: auto;
  overflow: hidden;
}

@mixin width-cropped-content {
  @include centering-absolutely;
  width: auto;
  height: 100%;
}

@mixin no-zoom {
  font-size: 1.6rem;
  transform-origin: top left;
  transform: scale(0.875); //  14px / 16px
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// other

@mixin input-style {
  font-family:
    "poppins",
    "Arial",
    sans-serif;
  font-size: 1.4rem;
  line-height: 150%;
  font-weight: 500;

  width: 100%;
  border-color: transparent;
  outline: none;
  background-color: transparent;
}

@mixin casual-interactive-style {
  border-bottom: 1px dashed transparent;

  &:hover,
  &:focus {
    border-color: inherit;
  }

  &:active {
    opacity: 0.5;
  }
}

@mixin svg-interactive-style {
  &:hover,
  &:focus {
    svg {
      @media (max-width: $pre-desktop-width) {
        transform: scale(1.1);
      }
    }
  }

  &:active {
    @media (max-width: $pre-desktop-width) {
      opacity: 0.5;
    }
  }
}

@mixin icon-interactive-style {
  &:hover,
  &:focus {
    .icon::before {
      @media (max-width: $pre-desktop-width) {
        transform: scale(1.1);
      }
    }
  }

  &:active {
    @media (max-width: $pre-desktop-width) {
      opacity: 0.5;
    }
  }
}

@mixin inherit-text-style {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

@mixin button-common-style {
  @include centering-flex;
  border-color: transparent;
  background-color: transparent;
}

@mixin img {
  display: block;
  width: 100%;
  object-fit: cover;
}

@mixin logo-interactive-style {
  .icon {
    &:hover,
    &:focus {
      color: $mcg-5;
    }

    &:active {
      filter: hue-rotate(90deg);
    }
  }
}
