//
// viewports
//

// global
$desktop-width: 1024px;
$pre-desktop-width: 1023px;
$tablet-width: 768px;
$pre-tablet-width: 767px;
$mobile-width: 320px;

// local
$aux-viewport-footer: 1170px;

//
// colors
//

// lcg (light colors' group)
$lcg-1: #ffffff;
$lcg-2: #f6f5f4;
$lcg-3: rgba(255, 255, 255, 0.15);
$lcg-4: rgba(255, 255, 255, 0.75);

// mcg (middle colors' group)
$mcg-1: #a87b62;
$mcg-2: #eaab90;

// dcg (dark colors' group)
$dcg-1: #000000;
$dcg-2: #1d1613;

//
// backgrounds
//

// intro
$intro-bg-main-desktop: url("../img/bg/intro-bg-main-desktop.jpg");
$intro-bg-main-desktop-2x: url("../img/bg/intro-bg-main-desktop@2x.jpg");

$intro-bg-main-tablet: url("../img/bg/intro-bg-main-tablet.jpg");
$intro-bg-main-tablet-2x: url("../img/bg/intro-bg-main-tablet@2x.jpg");

$intro-bg-main-mobile: url("../img/bg/intro-bg-main-mobile.jpg");
$intro-bg-main-mobile-2x: url("../img/bg/intro-bg-main-mobile@2x.jpg");

$intro-bg-catalog-desktop: url("../img/bg/intro-bg-catalog-desktop.jpg");
$intro-bg-catalog-desktop-2x: url("../img/bg/intro-bg-catalog-desktop@2x.jpg");

$intro-bg-catalog-tablet: url("../img/bg/intro-bg-catalog-tablet.jpg");
$intro-bg-catalog-tablet-2x: url("../img/bg/intro-bg-catalog-tablet@2x.jpg");

$intro-bg-catalog-mobile: url("../img/bg/intro-bg-catalog-mobile.jpg");
$intro-bg-catalog-mobile-2x: url("../img/bg/intro-bg-catalog-mobile@2x.jpg");

// login
$login-bg-desktop: url("../img/bg/intro-bg-desktop.jpg");
$login-bg-desktop-2x: url("../img/bg/intro-bg-desktop@2x.jpg");

$login-bg-tablet: url("../img/bg/intro-bg-tablet.jpg");
$login-bg-tablet-2x: url("../img/bg/intro-bg-tablet@2x.jpg");

$login-bg-mobile: url("../img/bg/intro-bg-mobile.jpg");
$login-bg-mobile-2x: url("../img/bg/intro-bg-mobile@2x.jpg");
