//
// viewports
//

// global
$desktop-width: 1024px;
$pre-desktop-width: 1023px;
$tablet-width: 768px;
$pre-tablet-width: 767px;
$mobile-width: 320px;

//
// colors
//

// lcg (light colors' group)
$lcg-1: #ffffff;
$lcg-2: #f6f5f4;

// mcg (middle colors' group)
$mcg-1: #a87b62;
$mcg-2: #ff4d00;
$mcg-3: #19baff;

// dcg (dark colors' group)
$dcg-1: #000000;
$dcg-2: #1d1613;
$dcg-3: #f6f5f4;
$dcg-4: #cdcdcd;
$dcg-5: #c4c4c4;
$dcg-6: #1b2931;
$dcg-7: #ebebeb;
$dcg-8: rgba(0, 0, 0, 0.8);
